<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-153</integer>
		<key>W</key>
		<integer>-165</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-73</integer>
		<key>W</key>
		<integer>-79</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>U</key>
		<integer>-3</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-98</integer>
		<key>a</key>
		<integer>-98</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-24</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>T</key>
		<integer>-67</integer>
		<key>W</key>
		<integer>-73</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-134</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>R</key>
		<integer>-5</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-177</integer>
		<key>a</key>
		<integer>-165</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-196</integer>
		<key>C</key>
		<integer>-64</integer>
		<key>a</key>
		<integer>-171</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>V</key>
		<integer>-159</integer>
		<key>W</key>
		<integer>-159</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>W</key>
		<integer>-64</integer>
		<key>v</key>
		<integer>-70</integer>
		<key>w</key>
		<integer>-76</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>A</key>
		<integer>-98</integer>
		<key>a</key>
		<integer>-98</integer>
		<key>w</key>
		<integer>-46</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>t</key>
		<integer>-46</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>-67</integer>
		<key>w</key>
		<integer>-70</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-138</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>A</key>
		<integer>-177</integer>
		<key>a</key>
		<integer>-98</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-171</integer>
		<key>c</key>
		<integer>-46</integer>
	</dict>
</dict>
</plist>
